<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="{{ asset('css/estilo.css') }}" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="../../public/css/estilo.css">
        <title>Home</title>
    </head>
    <body>
        <main class="container">
            @include('layout.menu')
            <section class="secao1">
                <img class="icon" src="../../public/img/iconeCorona.png" alt="">
                <h1 class="tituloSecao1">O que é coronavírus</h1>
                <div class="clear"></div>
                <p>
                    Os coronavírus são uma grande família de vírus comuns em muitas espécies diferentes de animais, incluindo camelos, gado, gatos e morcegos. Raramente, 
                    os coronavírus que infectam animais podem infectar pessoas, como exemplo do 
                    MERS-CoV e SARS-CoV. Recentemente, em dezembro de 2019, houve a transmissão 
                    de um novo coronavírus (SARS-CoV-2), o qual foi identificado em Wuhan na China 
                    e causou a COVID-19, sendo em seguida disseminada e transmitida pessoa a pessoa.
                    A COVID-19 é uma doença causada pelo coronavírus, denominado SARS-CoV-2, que 
                    apresenta um espectro clínico variando de infecções assintomáticas a quadros 
                    graves. De acordo com a Organização Mundial de Saúde, a maioria (cerca de 80%)
                    dos pacientes com COVID-19 podem ser assintomáticos ou oligossintomáticos 
                    (poucos sintomas), e aproximadamente 20% dos casos detectados requer atendimento 
                    hospitalar por apresentarem dificuldade respiratória, dos quais aproximadamente 
                    5% podem necessitar de suporte ventilatório.
                </p>
                <img class="imgSecao1" src="../../public/img/covid.jpg" alt="">
            </section>
            <div class="clear"></div>
            <section class="secao2">
                <h2 class="tituloSecao2">
                    Brasil se aproxima de 240 mil mortes por Covid, com média móvel de 1.092 por dia
                </h2>
                <p>
                    País contabilizou 9.865.911 casos e 239.895 óbitos por Covid-19 desde o início da 
                    pandemia, segundo balanço do consórcio de veículos de imprensa. Já são 26 dias com 
                    a média móvel de mortes acima da marca de 1 mil.
                    O consórcio de veículos de imprensa divulgou novo levantamento da situação da pandemia de coronavírus no Brasil a partir de dados das secretarias estaduais de Saúde, consolidados às 20h desta segunda-feira (15).
                </p>
                <img class="imgSecao2" src="../../public/img/mortesCorona.jpg">
                <img class="img2Secao2" src="../../public/img/mortesCovid.jpg">
                <p class="p2">
                    O país registrou 601 mortes pela Covid-19 nas últimas 24 horas, chegando ao total 
                    de 239.895 óbitos desde o começo da pandemia. Com isso, a média móvel de mortes no 
                    Brasil nos últimos 7 dias foi de 1.092. Após o recorde da véspera, essa é a 3ª maior 
                    média móvel de óbitos da série histórica; já são 26 dias com essa média acima da marca 
                    de 1 mil. A variação foi de +2% em comparação à média de 14 dias atrás, indicando 
                    tendência de estabilidade nos óbitos pela doença.
                    Em casos confirmados, desde o começo da pandemia 9.865.911 brasileiros já tiveram ou 
                    têm o novo coronavírus, com 32.216 desses confirmados no último dia. A média móvel nos 
                    últimos 7 dias foi de 45.087 novos diagnósticos por dia. Isso representa uma variação de 
                    -10% em relação aos casos registrados em duas semanas, o que indica tendência de estabilidade nos diagnósticos.
                    Onze estados estão com alta nas mortes: GO, MS, AC, PA, RO, RR, BA, CE, MA, PB e RN.
                </p>
            </section>
            <section class="secao3">
                <h2 class="tituloSecao3">Brasil, 15 de fevereiro, estatísticas:</h2>
                    <ul>
                        <li>
                            <p>Total de mortes: 239.895</p>
                        </li>
                        <li>
                            <p>Registro de mortes em 24 horas: 601</p>
                        </li>
                        <li>
                            <p>Média de novas mortes nos últimos 7 dias: 1.092 (variação em 14 dias: +2%)</p>
                        </li>
                        <li>
                            <p>Total de casos confirmados: 9.865.911</p>
                        </li>
                        <li>
                            <p>Registro de casos confirmados em 24 horas: 32.216</p>
                        </li>
                        <li>
                            <p>Média de novos casos nos últimos 7 dias: 45.087 por dia (variação em 14 dias: -10%)</p>
                        </li>
                        
                    </ul>
                    <h4 class="link">"Você pode ver mais sobre as estatísticas de mortos e contaminados masi detalhadamente na aba cidades ou acessando o link a seguir: <a href="">detalhes</a>"</h4>
            </section>
            <section class="secao4">
                <h1 class="tituloSecao4">VACINA</h1>
                <img class="imgSecao4" src="../../public/img/vacinaCorona.jpg">
                <p>
                    Divulgada em etapas, a eficácia da vacina da Sinovac contra o coronavírus despertou muitas dúvidas, particularmente a eficácia geral de 50,38% tornada pública na terça-feira (12/01).

                    A partir dos dados da fase 3 dos estudos do Instituto Butantan e com orientação de médicos, a BBC News Brasil destrinchou os dados em um gráfico, para explicar o que cada porcentagem significa na vida de quem se imunizar.

                    Dentro do universo total de participantes do estudo, superior a 12 mil, os resultados preliminares foram obtidos analisando pacientes que haviam tomado duas doses da vacina ou do placebo havia mais de duas semanas.
                </p>
                <h2 class="tituloSecao4">Eficácia e processo da Vacína</h2>
                <img class="img2Secao4" src="../../public/img/coronavacEficacia.png">
                <img class="img3Secao4" src="../../public/img/coronavacProcesso.png">
            </section>
            <footer class="rodape">
                <samp class="up">
                    <a href="#topo" class="item-menu">
                        <i class="fas fa-arrow-circle-up"></i>
                    </a>
                </samp>
                <p >2020&copy; todos os direitos reservados</p>
            </footer>
        </main>
    </body>
</html>
